<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackOverflow Java Question Analysis</title>

    <!-- 引入 jQuery 库 (用于 AJAX 请求) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 引入 echarts 和 echarts-wordcloud 库 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@2/dist/echarts-wordcloud.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        #word-cloud {
            width: 100%;
            height: 500px;
            margin: 0 auto;
        }

        #bar-chart, #pie-chart, #bar-chart2 {
            width: 100%;
            height: 500px;
            margin: 0 auto;
        }

        .chart-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 80vh;
        }

        .chart-container > div {
            width: 48%;
            height: 100%;

        }

        .input-container {
            margin-top: 20px;
            margin-bottom: 80px;
        }

        .input-container input {
            width: 120px;
            padding: 5px;
            margin-right: 10px;
            margin-bottom: 20px;
        }

        .input-container button {
            padding: 5px 10px;
        }
    </style>
</head>
<body style="text-align: center">
<h1>StackOverflow Java Question Analysis</h1>

<div style="background-color: #f4f4f4; padding: 20px; margin: 20px 0; border-radius: 8px; border: 1px solid #ccc; font-family: Arial, sans-serif;">
    <h3>Data Source</h3>
    <p>This website collects data from Stack Overflow, consisting of the following:</p>
    <ul>
        <li><strong>1,600 questions</strong></li>
        <li><strong>3,766 answers</strong></li>
        <li><strong>4,534 users</strong></li>
        <li><strong>1,445 tags</strong></li>
    </ul>
</div>

<div class="chart-container">
    <div id="word-cloud"></div>
    <div id="bar-chart"></div>
</div>

<!-- 输入框和按钮 (用于控制更新第一个图表) -->
<div class="input-container">
    <input type="number" id="num-tags1" value="20" min="1">
    <button id="update-charts1">更新</button>
    <button id="query-json1">查询</button>
</div>

<div class="chart-container">
    <div id="bar-chart2"></div>
    <div id="pie-chart"></div>
</div>

<p>* The data only includes questions submitted by users with a reputation greater than 900.</p>
<p>* The bar chart of comment count and answer count has been scaled, with a scaling factor of 20.</p>

<!-- 输入框和按钮 (用于控制更新第二个图表) -->
<div class="input-container">
    <input type="number" id="num-tags2" value="20" min="1">
    <button id="update-charts2">更新</button>
    <button id="query-json2">查询</button>
</div>

<div class="chart-container">
    <div id="word-cloud3" style="width: 50%; height: 500px; float: left;"></div>
    <div id="bar-chart3" style="width: 50%; height: 500px; float: left;"></div>
</div>

<!-- 输入框和按钮 (用于控制更新第一个图表) -->
<div class="input-container">
    <input type="number" id="num3" value="20" min="1">
    <button id="update-charts3">更新</button>
    <button id="query-json3">查询</button>
</div>

<div class="chart-container">
    <div id="line-chart1" style="width: 100%; height: 500px; margin: 0 auto;"></div>
    <div id="scatter-chart1" style="width: 100%; height: 500px; margin: 0 auto;"></div>
</div>

<p>The relationship between elapsed time on each answer and the number of up-votes, or whether the answer was accepted.</p>

<!-- 输入框和按钮 (用于控制更新第四个图表) -->
<div class="input-container">
    <input type="number" id="num4" value="3500" min="1">
    <button id="update-charts4">更新</button>
    <button id="query-json4">查询</button>
</div>

<div class="chart-container">
    <div id="line-chart5" style="width: 100%; height: 400px;"></div>
<!--    <div id="scatter-chart5" style="width: 100%; height: 400px;"></div>-->
    <div>
        <canvas id="boxplotChart5" width="600" height="400"></canvas>
    </div>
</div>

<p>The relationship between the reputation of owners on each answer and the number of up-votes, or whether the answer was accepted.</p>

<div class="input-container">
    <input type="number" id="num5" value="3000" min="1">
    <button id="update-charts5">更新</button>
    <button id="query-json5">查询</button>
</div>

<div class="chart-container">
    <div id="line-chart6" style="width: 100%; height: 400px;"></div>
    <div id="scatter-chart6" style="width: 100%; height: 400px;"></div>
</div>

<p>The relationship between the number of comments on each answer and the number of up-votes, or whether the answer was accepted.</p>

<div class="input-container">
    <input type="number" id="num6" value="60" min="1">
    <button id="update-charts6">更新</button>
    <button id="query-json6">查询</button>
</div>

<!-- Custom Query Section -->
<h2>Custom Query</h2>
<p>Get the data you need by inputting the required query parameters.</p>

<!-- Tag Query Section -->
<h3>Topic Frequency Query</h3>

<p>Enter a topic name to get the number of questions related to that topic.</p>

<div class="input-container">
    <input type="text" id="tag-name" placeholder="Enter topic name">
    <button id="query-tag-count">Query Topic Count</button>
</div>

<p>Enter a number N to get top N tags.</p>

<div class="input-container">
    <input type="text" id="tag-N" placeholder="Enter a number">
    <button id="query-tagsjson">Query Top N Topics</button>
</div>


<!-- Error Query Section -->
<h3>Error Frequency Query</h3>

<p>Enter a error/exception name to get the number of questions/answers related to that topic.</p>

<div class="input-container">
    <input type="text" id="error-word" placeholder="Enter error/exception word">
    <button id="query-error-word">Query Error Count</button>
</div>

<p>Enter a number N to get top N error/exception.</p>

<div class="input-container">
    <input type="text" id="query-n-error" placeholder="Enter a number">
    <button id="top-error-words">Query Top N Errors</button>
</div>

<script>
    // 获取指定数量的标签数据并更新图表
    function updateCharts1(numTags) {
        $.ajax({
            url: `/toptags?num=${numTags}`,
            method: 'GET',
            success: function (data) {
                var words = data.map(function (item) {
                    return {name: item[0], value: item[1]};
                });

                // 更新词云图
                var wordCloudChart = echarts.init(document.getElementById('word-cloud'));
                var wordCloudOption = {
                    title: {
                        text: 'Top ' + numTags + ' Tags',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                            color: '#4cc9f0'
                        },
                        left: 'center'
                    },
                    tooltip: {},
                    series: [{
                        type: 'wordCloud',
                        sizeRange: [10, 60],
                        rotationRange: [-30, 30],
                        shape: 'circle',
                        gridSize: 1,
                        layoutAnimation: true,
                        drawOutOfBound: true,
                        data: words,
                        textStyle: {
                            color: function () {
                                let colors = ['#8d4714', '#efba13', '#0c5e25', '#8e122c', '#0d5271'];
                                return colors[parseInt(Math.random() * colors.length)];
                            }
                        },
                        emphasis: {
                            textStyle: {
                                shadowBlur: 15,
                                shadowColor: '#333'
                            }
                        }
                    }]
                };
                wordCloudChart.setOption(wordCloudOption);

                // 更新柱状图
                var tags = data.map(function (item) {
                    return item[0];
                });
                var frequencies = data.map(function (item) {
                    return item[1];
                });

                var barChart = echarts.init(document.getElementById('bar-chart'));
                var barOption = {
                    title: {
                        text: 'Tag Frequency',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {},
                    xAxis: {
                        type: 'category',
                        data: tags,
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: frequencies,
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: function (params) {
                                    var colors = ['#FF7F27', '#FFC90E', '#28D15A', '#0BBDFC', '#8365FA'];
                                    return colors[params.dataIndex % colors.length];
                                }
                            }
                        }
                    }]
                };
                barChart.setOption(barOption);
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    function updateCharts2(numTags) {
        $.ajax({
            url: `/topengagement?n=${numTags}`,
            method: 'GET',
            success: function (data) {
                var tags = data.map(function (item) {
                    return item[0];
                });
                var commentCounts = data.map(function (item) {
                    return item[1];
                });
                var downVoteCounts = data.map(function (item) {
                    return item[2];
                });
                var upVoteCounts = data.map(function (item) {
                    return item[3];
                });
                var answerCounts = data.map(function (item) {
                    return item[4];
                });
                var sum = data.map(function (item) {
                    return item[5];
                });
                var scalingFactor = 10;  // 设置一个缩放因子
                var scaledCommentCounts = commentCounts.map(value => value * scalingFactor);
                var scaledAnswerCounts = answerCounts.map(value => value * scalingFactor);

                // 更新堆叠柱状图
                var barChart = echarts.init(document.getElementById('bar-chart2'));
                var barOption = {
                    title: {
                        text: 'Tag Engagement Stack',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center',
                        top: '5%'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        formatter: function (params) {
                            var tooltipText = '';
                            params.forEach(function (item) {
                                if (item.seriesIndex === 0 || item.seriesIndex === 1) {
                                    // 显示未经缩放的投票数据
                                    tooltipText += item.seriesName + ': ' + item.value + '<br>';
                                } else {
                                    // 显示原始评论和回答数据
                                    var originalData = item.seriesIndex === 2 ? commentCounts[tags.indexOf(item.name)] : answerCounts[tags.indexOf(item.name)];
                                    tooltipText += item.seriesName + ': ' + originalData + '<br>';
                                }
                            });
                            return tooltipText;
                        }
                    },
                    legend: {
                        data: ['Comment Count', 'Down Vote Count', 'Up Vote Count', 'Answer Count'],
                        left: 'center'
                    },
                    xAxis: {
                        type: 'category',
                        data: tags,
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: [
                        {
                            type: 'value',
                            name: 'Engagement Count',
                            min: 0,
                            max: Math.max(...upVoteCounts.concat(downVoteCounts)) * 1.5
                        },
                        {
                            type: 'value',
                            name: 'Scaled Engagement Count',
                            min: 0,
                            max: Math.max(...upVoteCounts.concat(scaledAnswerCounts, scaledCommentCounts)) * 1.5,
                            scale: true,  // 启用缩放
                            axisLabel: {
                                formatter: function (value) {
                                    return value / scalingFactor;  // 显示缩放后的值
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: 'Up Vote Count',
                            type: 'bar',
                            stack: 'engagement',
                            data: upVoteCounts,
                            itemStyle: {color: '#31a853'},
                            yAxisIndex: 0
                        },
                        {
                            name: 'Down Vote Count',
                            type: 'bar',
                            stack: 'engagement',
                            data: downVoteCounts,
                            itemStyle: {color: '#e8c563'},
                            yAxisIndex: 0
                        },
                        {
                            name: 'Comment Count',
                            type: 'bar',
                            stack: 'engagement',
                            data: scaledCommentCounts,
                            itemStyle: {color: '#df915b'},
                            yAxisIndex: 1
                        },
                        {
                            name: 'Answer Count',
                            type: 'bar',
                            stack: 'engagement',
                            data: scaledAnswerCounts,
                            itemStyle: {color: '#41b0d6'},
                            yAxisIndex: 1  // 使用第二个 Y 轴来展示较小的数据
                        }
                    ]
                };
                barChart.setOption(barOption);

                // 更新饼图
                var pieChart = echarts.init(document.getElementById('pie-chart'));
                var pieOption = {
                    title: {
                        text: 'Engagement Type Distribution',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {},
                    series: [
                        {
                            name: 'Engagement',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '50%'],
                            data: [
                                {
                                    value: commentCounts.reduce((a, b) => a + b, 0),
                                    name: 'comment counts'
                                },
                                {
                                    value: downVoteCounts.reduce((a, b) => a + b, 0),
                                    name: 'down vote counts'
                                },
                                {
                                    value: upVoteCounts.reduce((a, b) => a + b, 0),
                                    name: 'up vote counts'
                                },
                                {
                                    value: answerCounts.reduce((a, b) => a + b, 0),
                                    name: 'answer counts'
                                }
                            ],
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowOffsetY: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                pieChart.setOption(pieOption);


            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    function updateCharts3(num) {
        $.ajax({
            url: `/error-words?num=${num}`,
            method: 'GET',
            success: function (data) {

                var words = Object.entries(data).map(function (item) {
                    return {name: item[0], value: item[1]};
                });

                // 更新词云图
                var wordCloudChart = echarts.init(document.getElementById('word-cloud3'));
                var wordCloudOption = {
                    title: {
                        text: 'Top ' + num + ' errors and exception',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                            color: '#4cc9f0'
                        },
                        left: 'center'
                    },
                    tooltip: {},
                    series: [{
                        type: 'wordCloud',
                        sizeRange: [10, 40],
                        rotationRange: [-30, 30],
                        shape: 'circle',
                        gridSize: 1,
                        layoutAnimation: true,
                        drawOutOfBound: true,
                        data: words,
                        textStyle: {
                            color: function () {
                                let colors = ['#8d4714', '#efba13', '#0c5e25', '#8e122c', '#0d5271'];
                                return colors[parseInt(Math.random() * colors.length)];
                            }
                        },
                        emphasis: {
                            textStyle: {
                                shadowBlur: 15,
                                shadowColor: '#333'
                            }
                        }
                    }]
                };
                wordCloudChart.setOption(wordCloudOption);

                // 更新柱状图
                var mistakes = words.map(function (item) {
                    return item.name;
                });
                var frequencies = words.map(function (item) {
                    return item.value;
                });

                var barChart = echarts.init(document.getElementById('bar-chart3'));
                var barOption = {
                    title: {
                        text: 'Mistake Frequency',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {},
                    xAxis: {
                        type: 'category',
                        data: mistakes,
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: frequencies,
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: function (params) {
                                    var colors = ['#FF7F27', '#FFC90E', '#28D15A', '#0BBDFC', '#8365FA'];
                                    return colors[params.dataIndex % colors.length];
                                }
                            }
                        }
                    }]
                };
                barChart.setOption(barOption);
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    function updateCharts4(num) {
        $.ajax({
            url: `/answer-question-stats?num=${num}`,
            method: 'GET',
            success: function (data) {
                console.log(data); // 查看返回的数据格式，确保数据正确

                // 从返回数据中提取 x 轴和两个 y 轴的数据
                var days = data.map(function (item) {
                    return item["Elapsed time"];  // 这里使用 Days Between Answer and Question Creation 作为横轴
                });
                var upVoteCounts = data.map(function (item) {
                    return item["Up Vote Count"];
                });
                var isAccepted = data.map(function (item) {
                    return item["Is Answer Accepted"];
                });

                // 创建折线图配置
                var lineChart = echarts.init(document.getElementById('line-chart1'));
                var lineOption = {
                    title: {
                        text: 'Elapsed Time vs Up Vote Count',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                    },
                    xAxis: {
                        type: 'category',
                        data: days,
                        name: 'Elapsed Time (Days)',
                        axisLabel: {
                            rotate: 45,
                            formatter: function (value, index) {
                                return index % 5 === 0 ? value : ''; // 控制标签显示的密度
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: 'Up Vote Count',
                    },
                    series: [
                        {
                            name: 'Up Vote Count',
                            type: 'line',
                            data: upVoteCounts,
                            smooth: true,
                            itemStyle: {
                                color: '#27d7ff',
                            }
                        }
                    ]
                };
                lineChart.setOption(lineOption);

                // 创建散点图配置
                var scatterChart = echarts.init(document.getElementById('scatter-chart1'));
                var scatterOption = {
                    title: {
                        text: 'Elapsed Time vs Answer Acceptance',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            return 'Elapsed Time: ' + params[0].value[0] + ' days<br/>Is Accepted: ' + (params[0].value[1] ? 'True' : 'False');
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: days,
                        name: 'Elapsed Time (Days)',
                        axisLabel: {
                            rotate: 45,
                            formatter: function (value, index) {
                                return index % 5 === 0 ? value : ''; // 控制标签显示的密度
                            }
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: ['False', 'True'], // 显示 "False" 和 "True"
                        name: 'Answer Accepted',
                    },
                    series: [
                        {
                            name: 'Answer Acceptance',
                            type: 'scatter',
                            data: days.map(function (day, index) {
                                return [day, isAccepted[index]];
                            }),
                            itemStyle: {
                                color: function (params) {
                                    return params.value[1] === 1 ? '#60e388' : '#e14848'; // 绿色是 True，红色是 False
                                }
                            }
                        }
                    ]
                };
                scatterChart.setOption(scatterOption);
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    function updateCharts5(num) {
        $.ajax({
            url: `/answer-reputation?num=${num}`,
            method: 'GET',
            success: function (data) {
                console.log(data); // 查看返回的数据格式，确保数据正确

                // 从返回数据中提取 x 轴和两个 y 轴的数据
                var reputations = data.map(function (item) {
                    return item["reputation"];
                });
                var upVoteCounts = data.map(function (item) {
                    return item["upVoteCount"];
                });
                var isAccepted = data.map(function (item) {
                    return item["isAccepted"] === true ? 1 : 0; // 转换为 1 (true) 和 0 (false)
                });

                // 创建折线图的配置（Up Vote Count vs Reputation）
                var lineChart = echarts.init(document.getElementById('line-chart5'));
                var lineOption = {
                    title: {
                        text: 'Up Vote Count vs Reputation',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                    },
                    xAxis: {
                        type: 'category',
                        data: reputations,
                        name: 'Reputation',
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: 'Up Vote Count',
                    },
                    series: [
                        {
                            name: 'Up Vote Count',
                            type: 'line',
                            data: upVoteCounts,
                            smooth: true,
                            itemStyle: {
                                color: '#FF7F27',
                            }
                        }
                    ]
                };
                lineChart.setOption(lineOption);

                var reputationTrue = [];
                var reputationFalse = [];

                data.forEach(function (item) {
                    if (item["isAccepted"] === true) {
                        reputationTrue.push(item["reputation"]);
                    } else {
                        reputationFalse.push(item["reputation"]);
                    }
                });
                // 创建箱线图的配置（Reputation 分布 vs Is Accepted）
                var boxPlotChart = echarts.init(document.getElementById('boxplotChart5'));
                var boxPlotOption = {
                    title: {
                        text: 'Reputation Distribution by Acceptance',
                        left: 'center'
                    },
                    tooltip: {},
                    xAxis: {
                        type: 'category',
                        data: ['Accepted', 'Not Accepted'],
                        name: 'Is Accepted'
                    },
                    yAxis: {
                        type: 'value',
                        name: 'Reputation'
                    },
                    series: [
                        {
                            name: 'Reputation',
                            type: 'boxplot',
                            data: [
                                // 'Accepted' BoxPlot
                                [
                                    Math.min(...reputationTrue),
                                    percentile(reputationTrue, 25),
                                    percentile(reputationTrue, 50),
                                    percentile(reputationTrue, 75),
                                    Math.max(...reputationTrue)
                                ],
                                // 'Not Accepted' BoxPlot
                                [
                                    Math.min(...reputationFalse),
                                    percentile(reputationFalse, 25),
                                    percentile(reputationFalse, 50),
                                    percentile(reputationFalse, 75),
                                    Math.max(...reputationFalse)
                                ]
                            ],
                            itemStyle: {
                                color: '#FF7F27'
                            }
                        }
                    ]
                };
                boxPlotChart.setOption(boxPlotOption);
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }

    function updateCharts6(num) {
        $.ajax({
            url: `/answer-stats?num=${num}`,
            method: 'GET',
            success: function (data) {
                console.log(data); // 查看返回的数据格式，确保数据正确

                // 从返回数据中提取 x 轴和两个 y 轴的数据
                var commentCount = data.map(function (item) {
                    return item["commentCount"];
                });
                var upVoteCounts = data.map(function (item) {
                    return item["upVoteCount"];
                });
                var isAccepted = data.map(function (item) {
                    return item["isAccepted"] === true ? 1 : 0; // 转换为 1 (true) 和 0 (false)
                });

                // 创建折线图的配置（Up Vote Count vs Reputation）
                var lineChart = echarts.init(document.getElementById('line-chart6'));
                var lineOption = {
                    title: {
                        text: 'Up Vote Count vs Comment count',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                    },
                    xAxis: {
                        type: 'category',
                        data: commentCount,
                        name: 'comment count',
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: 'Up Vote Count',
                    },
                    series: [
                        {
                            name: 'Up Vote Count',
                            type: 'line',
                            data: upVoteCounts,
                            smooth: true,
                            itemStyle: {
                                color: '#FF7F27',
                            }
                        }
                    ]
                };
                lineChart.setOption(lineOption);

                // 创建散点图的配置（Is Answer Accepted vs Reputation）
                // 确保纵轴显示 0 和 1，即使没有数据为 1
                var scatterChart = echarts.init(document.getElementById('scatter-chart6'));
                var scatterOption = {
                    title: {
                        text: 'Is Answer Accepted vs Comment Count',
                        textStyle: {
                            fontSize: 20,
                            fontWeight: 'oblique',
                        },
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            return 'Comment count: ' + params[0].value[0] + ' <br/>Is Accepted: ' + (params[0].value[1] ? 'True' : 'False');
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: commentCount,
                        name: 'comment count',
                        axisLabel: {
                            rotate: 45
                        }
                    },
                    yAxis: {
                        type: 'category',
                        data: [0, 1], // 0 = false, 1 = true
                        name: 'Is Answer Accepted',
                        axisLabel: {
                            formatter: function (value) {
                                return value === 1 ? 'True' : 'False';
                            }
                        }
                    },
                    series: [
                        {
                            name: 'Is Answer Accepted',
                            type: 'scatter',
                            data: commentCount.map(function (commentCount, index) {
                                return [commentCount, isAccepted[index]];
                            }),
                            itemStyle: {
                                color: function (params) {
                                    return params.data[1] === 1 ? '#28D15A' : '#FF7F27';
                                }
                            }
                        }
                    ]
                };
                scatterChart.setOption(scatterOption);
            },
            error: function (error) {
                console.error('Error fetching data', error);
            }
        });
    }
    // 计算分位数的辅助函数
    function percentile(arr, p) {
        arr.sort((a, b) => a - b);
        var index = (p / 100) * (arr.length - 1);
        var lower = Math.floor(index);
        var upper = Math.ceil(index);
        return arr[lower] + (arr[upper] - arr[lower]) * (index - lower);
    }


    // 点击更新图表按钮时
    $('#update-charts1').click(function () {
        var numTags = $('#num-tags1').val();
        updateCharts1(numTags);
    });

    // 点击查询按钮时跳转到另一个页面并显示JSON数据
    $('#query-json1').click(function () {
        var numTags = $('#num-tags1').val();
        window.location.href = '/tagsjson?num=' + numTags;
    });

    $('#update-charts2').click(function () {
        var numTags = $('#num-tags2').val();
        updateCharts2(numTags);
    });
    $('#query-json2').click(function () {
        var numTags = $('#num-tags2').val();
        window.location.href = '/topengagement?n=' + numTags;
    });
    $('#update-charts3').click(function () {
        var numTags = $('#num3').val();
        updateCharts3(numTags);
    });

    // 点击查询按钮时跳转到另一个页面并显示JSON数据
    $('#query-json3').click(function () {
        var num = $('#num3').val();
        window.location.href = '/error-words?num=' + num;
    });

    $('#update-charts4').click(function () {
        var num = $('#num4').val();
        updateCharts4(num);
    });
    $('#query-json4').click(function () {
        var num = $('#num4').val();
        window.location.href = '/answer-question-stats?num=' + num;
    });

    $('#update-charts5').click(function () {
        var num = $('#num5').val();
        updateCharts5(num);
    });
    $('#query-json5').click(function () {
        var num = $('#num5').val();
        window.location.href = '/answer-reputation?num=' + num;
    });

    $('#update-charts6').click(function () {
        var num = $('#num6').val();
        updateCharts6(num);
    });
    $('#query-json6').click(function () {
        var num = $('#num6').val();
        window.location.href = '/answer-stats?num=' + num;
    });
    // Handle Tag Query (Topic Frequency)
    $('#query-tag-count').click(function () {
        var tagName = $('#tag-name').val();
        if (tagName) {
            window.location.href = '/tag-count?name=' + tagName;
        } else {
            alert("Please enter a topic name.");
        }
    });

    $('#query-tagsjson').click(function () {
        var num = $('#tag-N').val();
        if (isNaN(num) || num <= 0) {
            alert("Please enter a valid positive number.");
            return;
        }
        window.location.href = '/tagsjson?num=' + numTags;
    });

    // Handle Error Query (Error Frequency)
    $('#query-error-word').click(function () {
        var errorWord = $('#error-word').val();
        if (errorWord) {
            window.location.href = '/error-word?word=' + errorWord;
        } else {
            alert("Please enter an error word.");
        }
    });

    $('#top-error-words').click(function () {
        var num = $('#query-n-error').val();
        if (isNaN(num) || num <= 0) {
            alert("Please enter a valid positive number.");
            return;
        }
        window.location.href = '/error-words?num=' + num;
    });


    $(document).ready(function () {
        updateCharts1(20);
        updateCharts2(20);
        updateCharts3(20);
        updateCharts4(3500);
        updateCharts5(3000);
        updateCharts6(60);
    });
</script>
</body>
</html>
